
# Modo de depuracion (True/False)
DEBUG=True 

# Clave secreta de django
SECRET_KEY = #'clave-super-segura'

# Hosts permitidos
ALLOWED_HOSTS = #0.0.0.0

# URL de la base de datos
DATABASE_URL =
# mysql://root:@localhost:3306/tienda_tecnologica
# sqlite:///db.sqlite
# postgresql://usuario:contraseña@localhost:5432/nombre_basedatos