{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/catalogo.css' %}">
    <title>Tech Market</title>
    
</head>

<body>
    <a href="#btn-arriba"></a>

    <!--encabezado del body-->


    <header>
        <input type="checkbox" id="menu"/>
        <label for="menu">
            <img src="imagenes/menu.png" class="menu-icono" alt="menu">
        </label>
        <section class="menu-catalogo">
            <nav class="volver-inicio"><a href="principal.html">volver</a></nav>
            <ul>
                <li><a href="#Telefonos" > Telefonos </a></li>
                <li><a href="#Laptops" > Laptos </a></li>
                <li><a href="#Repuestos" > Repuestos </a></li>
            </ul>
        </section>
        
    </header>


    <!--cuerpo del body-->

    <main class="seccion-productos">

        <!--caja de productos-->

            <h1>Productos</h1>

            <!--caja de telefonos-->
            <h2><a id="Telefonos">Telefonos</a></h2>
            <div class="seccion-telefonos">
                
                <div class="producto">
                    <div class="caja">
                        <div class="imagen_producto">
                            <img src="imagenes/telefonos/redmi-removebg-preview.png" alt="imagen de celular1" class="c1">
                        </div>
                        <div class="especificaciones">
                            <h3>Redmi Note 14</h3>
                            <p>precio: 1000$</p>
                            <p> leer mas</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                        </div>
                        
                    </div>
                </div>
                
                <div class="producto">
                    <div class="caja">
                        <div class="imagen_producto">
                            <img src="imagenes/telefonos/honor_magic7_pro-removebg-preview.png" alt="imagen de celular2" class="c2">
                        </div>
                        <div class="especificaciones">
                            <h3>honor magic7 pro</h3>
                            <p>precio: 2000$</p>
                            <p>leer mas</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                        </div>
                    </div>
                </div>

                <div class="producto">  
                    <div class="caja">
                        <div class="imagen_producto">
                            <img src="imagenes/telefonos/tecno spark 20 pro.jpg" alt="imagen de celular3">
                        </div>
                        <div class="especificaciones">
                            <h3>Techno Spark 20 Pro</h3>
                            <p>precio: 3000$</p>
                            <p>leer mas</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                        </div>
                    </div>
                </div>
                <div class="producto">   
                    <div class="caja">
                        <div class="imagen_producto">
                            <img src="imagenes/telefonos/samsung galaxi s25 ultra.jpg" alt="imagen de celular4">
                        </div>
                        <div class="especificaciones">
                            <h3>Samsung Galaxi s25 Ultra</h3>
                            <p>precio: 2500$</p>
                            <p>leer mas</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>


            <!--caja de laptos-->
            <h2><a id="Laptops">Laptos</a></h2>
            <div class="seccion-laptos">
                
                <div class="producto">
                    <div class="caja">
                        <div class="imagen_producto">
                            <img src="*" alt="imagen de laptop1">
                        </div>
                        <div class="especificaciones">
                            <h3>laptop1</h3>
                            <p>precio: 1000$</p>
                            <p> leer mas</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                        </div>
                        
                    </div>
                </div>
                
                <div class="producto">
                    <div class="caja">
                        <div class="imagen_producto">
                            <img src="*" alt="imagen de laptop2">
                        </div>
                        <div class="especificaciones">
                            <h3>laptop2</h3>
                            <p>precio: 2000$</p>
                            <p>leer mas</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                        </div>
                    </div>
                </div>

                <div class="producto">  
                    <div class="caja">
                        <div class="imagen_producto">
                            <img src="*" alt="imagen de laptop3">
                        </div>
                        <div class="especificaciones">
                            <h3>laptop3</h3>
                            <p>precio: 3000$</p>
                            <p>leer mas</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                        </div>
                    </div>
                </div>
                <div class="producto">   
                    <div class="caja">
                        <div class="imagen_producto">
                            <img src="*" alt="imagen de laptop4">
                        </div>
                        <div class="especificaciones">
                            <h3>laptop4</h3>
                            <p>precio: 2500$</p>
                            <p>leer mas</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>

            <!--caja de repuestos-->

            <h2><a id="Repuestos">Repuestos</a></h2>
            <div class="seccion-repuestos">
                
                <div class="producto">
                    <div class="caja">
                        <div class="imagen_producto">
                            <img src="*" alt="imagen de repuesto1">
                        </div>
                        <div class="especificaciones">
                            <h3>repuesto1</h3>
                            <p>precio: 1000$</p>
                            <p> leer mas</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                        </div>
                        
                    </div>
                </div>
                
                <div class="producto">
                    <div class="caja">
                        <div class="imagen_producto">
                            <img src="*" alt="imagen de repuesto2">
                        </div>
                        <div class="especificaciones">
                            <h3>repuesto2</h3>
                            <p>precio: 2000$</p>
                            <p>leer mas</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                        </div>
                    </div>
                </div>

                <div class="producto">  
                    <div class="caja">
                        <div class="imagen_producto">
                            <img src="*" alt="imagen de repuesto3">
                        </div>
                        <div class="especificaciones">
                            <h3>repuesto3</h3>
                            <p>precio: 3000$</p>
                            <p>leer mas</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                        </div>
                    </div>
                </div>
                <div class="producto">   
                    <div class="caja">
                        <div class="imagen_producto">
                            <img src="*" alt="imagen de repuesto4">
                        </div>
                        <div class="especificaciones">
                            <h3>repuesto4</h3>
                            <p>precio: 2500$</p>
                            <p>leer mas</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>

    </main>
    <footer>
    <div class="footer-column">
            <h3>Contactanos</h3>
            <ul>
                <li>Email:contacto@techmarket.com</li>
                <li>Telefono: 0426 834 765</li>
                <li>Direccion: calle principal n23</li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Enlaces</h3>
            <ul>
                <li><a href="#">sobre nosotros</a></li>
                <li><a href="#">servicios</a></li>
                <li><a href="#">contactos</a></li>
            </ul>
        </div>
            <div class="footer-column">
            <h3>Siguenos</h3>
            <ul>
                <li><a href="https://facebook.com" target="_blank">facebook</a></li>
                <li><a href="https://twitter.com" target="_blank">twitter</a></li>
                <li><a href="https://instagram.com" target="_blank">instagram</a></li>
                
            </ul>
        </div>
    </footer>

    <a href="#" id="btn-arriba">↑</a>

</body>
</html>
