{% extends "core/base.html" %}
{% load static %}
    {% block stiles %}
    <link rel="stylesheet" href="{% static 'core/css/arreglo.css' %}">
    {% endblock %}


{% block title %}catalogo{% endblock %}

    
<body>
    <a href="#btn-arriba"></a>

    <!--encabezado del body-->
    {% block header %}
        <section class="menu-catalogo">
            
            <nav class="volver-inicio"><a href="{% url 'index' %}">volver</a></nav>
            <ul>
                <li class="titulo_producto"><a href="{% url 'catalogo' replacement=0 %}">🛒Productos </a></li>
            </ul>

            <ul>
                <li class="titulo_producto"><a href="{% url 'catalogo' replacement=1 %}">🔧Repuestos</a></li>
            </ul>
            {% if user.is_authenticated and user.is_staff %}
                <div class="crear_producto">
                    <a href="{% url 'product_create' %}" id="crear_producto">+ crear producto</a>
                </div>
            {% endif %}

        </section>
    {% endblock %}
    <!--cuerpo del body-->
{% block content %}
    {% if messages %}
        <div class="container-mensajes">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
        <ul>
            <li class="titulo"><a href="{% url 'catalogo' replacement=0 %}" class="section">🛒Productos </a></li>
            <li class="titulo"><a href="{% url 'catalogo' replacement=1 %}" class="section">🔧Repuestos</a></li>
        </ul>
    <form method="GET" action="{% url 'catalogo' replacement=replacement %}" class="search-form">
        <input type="text" name="q" placeholder="🔍︎ buscar productos..."
        value="{{ query|default_if_none:'' }}" class="search-input">
        <select id="category" name="category" class="main__input">
                <option value="" disabled selected > -- Seleccione Categoría -- </option>
                {% for category_obj in categories %}
                    <option value="{{ category_obj.id }}" {% if category_obj.id == category_id|add:"0" %}
                    selected{% endif %}>{{ category_obj.name_category }}</option>
                {% endfor %}
        </select>
        <button type="submit" class="search-button">Buscar</button>

    </form>
    <!--caja de telefonos-->
    {% if category %}
        <h2><a id="Telefonos">{{ category.name_category }}</a></h2>
    {% endif %}

    <a href="{% url 'cart_view' %}" id="lista">ver lista de productos</a>

    <div class="seccion-telefonos">
        {% if products %}
        
            {% for p in products %}
                
                <!--caja de productos-->
                {% include 'core\includes\card.html' %}
            {% endfor %}
        {% else %}
            <p>No hay productos</p>
        {% endif %}
    </div>

    <a href="#" id="btn-arriba">↑</a>

    <div class="pagination-container">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }} 
                {% if url_params %}&{{ url_params }}{% endif %}" class="page-link">anterior</a>
            {% endif %}

            <span class="current-page">
                Página{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}
                {% if url_params %}&{{ url_params }}{% endif %}" class="page-link">siguiente</a>
            {% endif %}
        </span>

    </div>
{% endblock %}

</body>
</html>
