{% extends "core/base.html" %}
{% load static %}
{% block title %}catalogo{% endblock %}

    
<body>
    <a href="#btn-arriba"></a>

    <!--encabezado del body-->
    {% block header %}
        <input type="checkbox" id="menu"/>
        <label for="menu">
            <img src="{% static 'core/img/menu.png' %}" class="menu-icono" alt="menu">
        </label>
        <section class="menu-catalogo">
            <nav class="volver-inicio"><a href="{% url 'index' %}">volver</a></nav>
            <ul>
                <li><a href="#Telefonos" > Telefonos </a></li>
                <li><a href="#Laptops" > Laptos </a></li>
                <li><a href="#Repuestos" > Repuestos </a></li>
            </ul>
        </section>

    {% endblock %}
    <!--cuerpo del body-->
{% block content %}
    <main class="seccion-productos">

        <!--caja de productos-->
        {% include 'core\includes\cart.html' %}

    </main>
{% endblock %}

    <a href="#" id="btn-arriba">↑</a>

</body>
</html>
