{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/formulario.css' %}">
    <title>Formulario</title>
</head>

<body>
    <header>
        <nav><a href="{% url 'index' %}">volver</a></nav>
    </header>
    <section class="main">

        <figure class="main__figure">
            <img src="{% static 'core/img/formulario/registro.jpg' %}" class="main__img">
        </figure>

        <div class="main__contact">

            <h2 class="main__title">¡Bienvenido!</h2>
            <p class="main__paragraph">¡Registrate aqui!</p>

            <form class="main__form">

                <input type="text" placeholder="ingrese nombre de usuario" class="main__input">

                <input type="email" placeholder="ingrese correo" class="main__input">

                <input type="password" placeholder="contraseña" class="main__input">

                <input type="submit" value="iniciar secion" class="main__input main__input--send">

            </form>
            <p>¿ya estas registrado?</p>
            <p class="main__paragraph"><a href="{% url 'formulario_inicio_sesion' %}">inicia sesion</a></p>

            <article class="main__social">

                <a href="#" class="main__link">
                    <img src="{% static 'core/img/formulario/cromo.png' %}" class="main__icon">
                </a>

                <a href="#" class="main__link">
                    <img src="{% static 'core/img/formulario/logotipo-de-apple.png' %}" class="main__icon">
                </a>

                <a href="#" class="main__link">
                    <img src="{% static 'core/img/formulario/panorama.png' %}" class="main__icon">
                </a>

            </article>

        </div>

    </section>



</body>

</html>