{% extends "core/base.html" %}
{% load static %}

{% block title %} Tech Market {% endblock %}

{% block content %}

<div class="contenedor">
    <div class="titulo">
        <h1>Tech Market</h1>
        <p>tienda dedicada a la venta de productos tecnologicos</p>
    </div>
    <div class="descripcion">
        <details>
            <summary>Más información</summary>
            
            <p>
                En Tech Market ofrecemos equipos tecnológicos modernos, encuentra los mejores productos tecnológicos al mejor precio.
                Calidad, eficiencia y atención personalizada.
                
            </p>
        </details>
    </div>
    
</div>

        <img src="{% static 'core/img/imagen_en_el_head-removebg-preview.png' %}" alt="imagen tecnololica">
{% endblock %}
    




