{% extends "core/base.html" %}
{% load static %}
    {% block stiles %}
    <link rel="stylesheet" href="{% static 'core/css/principal.css' %}">
    {% endblock %}

{% block title %} carrito - Tech Market{% endblock %}

{% block header %}

{% endblock %}


{% block content %}
    <table>
        <thead>
            <td>nombre</td>
            <td>precio</td>
            <td>cantidad</td>
            <td>categoria</td>
        </thead>
        <tbody>
            <td>hhhh</td>
            <td>hujhj0</td>
            <td>gyurfgc</td>
        </tbody>
    </table>


{% endblock %}