<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="principal.css">
    <title>Tech Market</title>
</head>
<body>
    <header>
            <nav class="menu">               
                <ul>
                    <li><a href="catalogo.html" > Productos </a></li>
                    <li><a href="formulario inicio.html" > Registro </a></li>
                </ul>
            </nav>
            
    </header>
        
    <main class="cuerpo">
        <div class="contenedor">
            <div class="titulo">
                <h1>Tech Market</h1>
                <p>tienda dedicada a la venta de productos tecnologicos</p>
            </div>
            <div class="descripcion">
                <details>
                    <summary>Más información</summary>
                    
                        <p>
                            En Tech Market ofrecemos equipos tecnológicos modernos, encuentra los mejores productos tecnológicos al mejor precio.
                            Calidad, eficiencia y atención personalizada.

                        </p>
                </details>
            </div>
        
        </div>
        <img src="imagenes/imagen_en_el_head-removebg-preview.png" alt="imagen tecnololica">

    </main>
    
    <footer>
        <div class="footer-column">
            <h2>Contactanos</h2>
            <ul>
                <li>Email:contacto@techmarket.com</li>
                <li>Telefono: 0426 834 765</li>
                <li>Direccion: calle principal n23</li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Enlaces</h3>
            <ul>
                <li><a href="#">sobre nosotros</a></li>
                <li><a href="#">servicios</a></li>
                <li><a href="#">contactos</a></li>
            </ul>
        </div>
            <div class="footer-column">
            <h3>Siguenos</h3>
            <ul>
                <li><a href="https://facebook.com" target="_blank">facebook</a></li>
                <li><a href="https://twitter.com" target="_blank">twitter</a></li>
                <li><a href="https://instagram.com" target="_blank">instagram</a></li>
                
            </ul>
        </div>
    </footer>

    
</body>
</html>