body {
    width: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}


header {
    width: 100%;
    background-color: rgb(39, 39, 39);
    margin: 10;
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}
.menu ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu ul li a {
    font-weight:800;
    text-decoration: none;
    color: darkgray;
    padding: 10px 15px;
    border-radius: 5px;
}

.menu ul li a:hover {
    color: white;
    background: linear-gradient(to right, #8f8989,rgb(41, 41, 70))

}

.cuerpo {
    text-align: center;
    display: flex;
    background-color: darkgray;
    padding: 10px;
    align-items: center;
    gap: 20px;
    
}

.cuerpo .contenedor {
    flex-basis: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.cuerpo .contenedor .titulo {
    text-align: center;
}
.cuerpo .contenedor .titulo h1 {
    font-size: 70px;
    font-weight: 900;
    margin: 50px 10px 0px 10px;
}
.cuerpo .contenedor .titulo p {
    margin: 20px 10px 0px 10px;
    text-align: center;
}

.cuerpo .contenedor .descripcion {
    margin: 20px 10px 20px 10px;
    text-align: center;
    display:flex; 
    flex-direction: column;
}
.cuerpo .contenedor .descripcion details {
    justify-content: center;
    position: relative;
}

.descripcion details[open] p {
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    background: rgb(39, 39, 39);
    padding: 15px;
    border-radius: 5px;
}

.cuerpo .contenedor .descripcion summary{
    list-style: none;
    cursor: pointer;
    color: blue;
    text-align: center;
}
.cuerpo .contenedor .descripcion p {
    color: white;
    margin: 0px 0px 0px 10px;
    text-align: justify
}

.cuerpo .descripcion summary:hover {
    color:azure;
    font-weight: 200;
}

.cuerpo img {
    width: 100%;
    max-width: 300%;
    height: auto;
}

footer {
    padding: 0px 0px 60px 0px;
    color: aliceblue;
    text-align: center;
    background-color:rgb(39, 39, 39);
    display: flex;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    margin: 0 10px;
}

.footer-column h3 {
    margin-bottom: 15px;
    font-size: 1.2em;
    text-align: center;
}

footer .footer-column ul li {
    margin-top: 30px;
}
ul li a {
    color: darkgray;
    text-decoration: none;
}


ul li a:hover {
    color: white;
}

.footer-icons {
    display: none;
    gap: 10px;
}

@media (max-width:800px) {
    header {
        justify-content: center;
    }

    .menu {
        padding: 0px;
    }
    main {
        flex-direction: column;
    }

    main img {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
    }
    
    details {
        margin-bottom: 75px;
    }
    .descripcion details[open] p {
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    background: rgb(39, 39, 39);
    padding: 15px;
    border-radius: 5px;
}
    
}