{% load static %}
                
                <div class="producto">
                    <div class="caja">
                        <div class="imagen_producto">
                            {% if p.image %}
                                <img src="{{ p.image.url}}" alt="image de {{p.name}}" class="c1">
                            {% else %}
                                <p>imagen no disponible</p>
                            {% endif %}
                        </div>
                        <div class="especificaciones">
                            <h3>{{ p.name }}</h3>
                            <p>${{ p.price }}</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                            <div class="detalles">
                                <p><a href="{% url 'product_detail' id=p.id %}">leer mas</a></p>
                                <p><a href="{% url 'product_update' id=p.id %}">actualizar producto</a></p>
                                <p><a href="{% url 'product_delete' id=p.id %}">eliminar producto</a></p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                