{% load static %}

        <h1>Productos</h1>

            <!--caja de telefonos-->
            <h2><a id="Telefonos">Telefonos</a></h2>
            <div class="seccion-telefonos">
                
                <div class="producto">
                    <div class="caja">
                        <div class="imagen_producto">
                            <img src="{% static 'core/img/telefonos/redmi.png' %}" alt="imagen de celular1" class="c1">
                        </div>
                        <div class="especificaciones">
                            <h3>Redmi Note 14</h3>
                            <p>precio: 1000$</p>
                            <p> leer mas</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                        </div>
                        
                    </div>
                </div>
                
                <div class="producto">
                    <div class="caja">
                        <div class="imagen_producto">
                            <img src="{% static 'core/img/telefonos/honor_magic7_pro.png' %}" alt="imagen de celular2" class="c2">
                        </div>
                        <div class="especificaciones">
                            <h3>honor magic7 pro</h3>
                            <p>precio: 2000$</p>
                            <p>leer mas</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                        </div>
                    </div>
                </div>

                <div class="producto">  
                    <div class="caja">
                        <div class="imagen_producto">
                            <img src="{% static 'core/img/telefonos/tecno spark 20 pro.jpg' %}" alt="imagen de celular3">
                        </div>
                        <div class="especificaciones">
                            <h3>Techno Spark 20 Pro</h3>
                            <p>precio: 3000$</p>
                            <p>leer mas</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                        </div>
                    </div>
                </div>
                <div class="producto">   
                    <div class="caja">
                        <div class="imagen_producto">
                            <img src="{% static 'core/img/telefonos/samsung galaxi s25 ultra.jpg' %}" alt="imagen de celular4">
                        </div>
                        <div class="especificaciones">
                            <h3>Samsung Galaxi s25 Ultra</h3>
                            <p>precio: 2500$</p>
                            <p>leer mas</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>


            <!--caja de laptos-->
            <h2><a id="Laptops">Laptos</a></h2>
            <div class="seccion-laptos">
                
                <div class="producto">
                    <div class="caja">
                        <div class="imagen_producto">
                            <img src="*" alt="imagen de laptop1">
                        </div>
                        <div class="especificaciones">
                            <h3>laptop1</h3>
                            <p>precio: 1000$</p>
                            <p> leer mas</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                        </div>
                        
                    </div>
                </div>
                
                <div class="producto">
                    <div class="caja">
                        <div class="imagen_producto">
                            <img src="*" alt="imagen de laptop2">
                        </div>
                        <div class="especificaciones">
                            <h3>laptop2</h3>
                            <p>precio: 2000$</p>
                            <p>leer mas</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                        </div>
                    </div>
                </div>

                <div class="producto">  
                    <div class="caja">
                        <div class="imagen_producto">
                            <img src="*" alt="imagen de laptop3">
                        </div>
                        <div class="especificaciones">
                            <h3>laptop3</h3>
                            <p>precio: 3000$</p>
                            <p>leer mas</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                        </div>
                    </div>
                </div>
                <div class="producto">   
                    <div class="caja">
                        <div class="imagen_producto">
                            <img src="*" alt="imagen de laptop4">
                        </div>
                        <div class="especificaciones">
                            <h3>laptop4</h3>
                            <p>precio: 2500$</p>
                            <p>leer mas</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>

            <!--caja de repuestos-->

            <h2><a id="Repuestos">Repuestos</a></h2>
            <div class="seccion-repuestos">
                
                <div class="producto">
                    <div class="caja">
                        <div class="imagen_producto">
                            <img src="*" alt="imagen de repuesto1">
                        </div>
                        <div class="especificaciones">
                            <h3>repuesto1</h3>
                            <p>precio: 1000$</p>
                            <p> leer mas</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                        </div>
                        
                    </div>
                </div>
                
                <div class="producto">
                    <div class="caja">
                        <div class="imagen_producto">
                            <img src="*" alt="imagen de repuesto2">
                        </div>
                        <div class="especificaciones">
                            <h3>repuesto2</h3>
                            <p>precio: 2000$</p>
                            <p>leer mas</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                        </div>
                    </div>
                </div>

                <div class="producto">  
                    <div class="caja">
                        <div class="imagen_producto">
                            <img src="*" alt="imagen de repuesto3">
                        </div>
                        <div class="especificaciones">
                            <h3>repuesto3</h3>
                            <p>precio: 3000$</p>
                            <p>leer mas</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                        </div>
                    </div>
                </div>
                <div class="producto">   
                    <div class="caja">
                        <div class="imagen_producto">
                            <img src="*" alt="imagen de repuesto4">
                        </div>
                        <div class="especificaciones">
                            <h3>repuesto4</h3>
                            <p>precio: 2500$</p>
                            <p>leer mas</p>
                            <a href="#" class="agregar-carrito">
                            Agregar al carrito 
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
